
    header
    {
        display:flex;
        height: 75px;
        background-color: rgb(211, 217, 223);
        justify-content: space-between;
    }
    /* nav{
        display:inline-flex;
    } */
   header img{
        width: 30px;
        height: 60px;
   }

   /* #home{margin-left: 150px;
   }
   #contactus{ margin-left: 150px;
  } */

  main{
margin-top: 150px;
  
    }
    main img{
        height: 100px;
        width:100px;
   
}
    #name{
    color: rgb(228, 124, 124);
     
    }
    #overview{
     
        
        border: 2px solid rgb(159, 167, 159);
        padding: 25px;
    }
    #contact{
        color: rgb(160, 73, 73);
       
    }
   
     section h3{
        display:grid;
    }
  

    footer {
        background-color:rgb(180, 171, 171);
        height: 25px;
}

#card-form{
    border:1px solid gray;
    width:300px;
    padding:10px;
    margin-left:80px;
}
#card-form label {
   
}
.card-header-img{
    display:flex; 
}
.card-header{
    display: flex;
    flex-direction:column;
    margin-left:50px;
}